---
import Base from "../layouts/base.astro";
import Card from "../components/Card.astro";

export function getStaticPaths() {
    const imgLink =
        "https://raw.githubusercontent.com/kalenwallin/portfolio.v1/gpages/img/";
    const pageLink = "https://v3.kalenwallin.com/";
    const pages = [
        {
            category: "Websites",
            cards: [
                {
                    imgUrl: `${imgLink}CaedenDev.jpg`,
                    alt: "Caeden wearing his avatar's wig and tiny bow tie",
                    title: "Caeden.dev",
                    description: "Improving Friend's Frontend (Vanilla)",
                    id: "5",
                    pageUrl: `${pageLink}caeden`,
                },
                {
                    imgUrl: `${imgLink}Astro.jpg`,
                    alt: "Astro web framework logo",
                    title: "Astro.v1",
                    description: "Rewrite of 1st Portfolio (Astro)",
                    id: "6",
                    pageUrl: `${pageLink}i-rewrote-my-portfolio-in-astro`,
                },
                {
                    imgUrl: `${imgLink}portfoliov3.png`,
                    alt: "Kalen's Blog Logo",
                    title: "My Blog",
                    description: "In depth posts (Next.js)",
                    id: "1",
                    pageUrl: `${pageLink}portfoliov3-development`,
                },
                {
                    imgUrl: `${imgLink}portfoliov2.png`,
                    alt: "Portfolio version 2 Logo",
                    title: "Portfolio.v2",
                    description: "2nd Dev Portfolio (Django)",
                    id: "2",
                    pageUrl: `${pageLink}portfoliov2`,
                },
                {
                    imgUrl: `${imgLink}farmafield.png`,
                    alt: "FarmAfield internship graphic",
                    title: "FarmAfield",
                    description: "Maintained website (Django)",
                    id: "1",
                    pageUrl: `${pageLink}farmafield`,
                },
                {
                    imgUrl: `${imgLink}portfoliov12.png`,
                    alt: "Portfolio version 1 Logo",
                    title: "Portfolio.v1",
                    description: "1st Dev Portfolio (Blazor)",
                    id: "3",
                    pageUrl: `${pageLink}portfoliov1`,
                },
                {
                    imgUrl: `${imgLink}voting_system.png`,
                    alt: "Voting System Logo",
                    title: "Voting System",
                    description: "Political Voting Website (.NET)",
                    id: "4",
                    pageUrl: `${pageLink}voting-system`,
                },
            ],
        },
        {
            category: "Video Games",
            cards: [
                {
                    imgUrl: `${imgLink}baldorf.png`,
                    alt: "baldorf graphic",
                    title: "baldorf",
                    description: "Unity Game Developer",
                    id: "1",
                    pageUrl: `${pageLink}baldorf`,
                },
                {
                    imgUrl: `${imgLink}godot_demo.png`,
                    alt: "godot demo graphic",
                    title: "Godot Demo",
                    description: "Godot Game Developer",
                    id: "2",
                    pageUrl: `${pageLink}godot-game-level-demo`,
                },
                {
                    imgUrl: `${imgLink}minieval.png`,
                    alt: "Minieval Logo",
                    title: "Minieval",
                    description: "Godot Game Developer",
                    id: "3",
                    pageUrl: `${pageLink}minieval`,
                },
                {
                    imgUrl: `${imgLink}fappy_borbs.png`,
                    alt: "Flappy Borbs Graphic",
                    title: "Flappy Borbs",
                    description: "Unity Game Developer",
                    id: "4",
                    pageUrl: `${pageLink}flappy-borbs`,
                },
            ],
        },
        {
            category: "Mobile Apps",
            cards: [
                {
                    imgUrl: `${imgLink}lifting_calculator.png`,
                    alt: "Weight Lifting Calculator Screenshot",
                    title: "Weight Lifting Calculator",
                    description: "Xamarin Mobile Developer",
                    id: "1",
                    pageUrl: `${pageLink}weight-lifting-calculator`,
                },
            ],
        },
        {
            category: "Work",
            cards: [
                {
                    imgUrl: `${imgLink}auto_corn_ticket.png`,
                    alt: "Auto Corn Ticket graphic",
                    title: "Auto Corn Ticket",
                    description: "Python Programmer",
                    id: "6",
                    pageUrl: `${pageLink}farmafield`,
                },
                {
                    imgUrl: `${imgLink}farmafield.png`,
                    alt: "FarmAfield internship graphic",
                    title: "FarmAfield",
                    description: "Django Web Developer Intern",
                    id: "1",
                    pageUrl: `${pageLink}farmafield`,
                },
                {
                    imgUrl: `${imgLink}unl_ta.png`,
                    alt: "University of Nebraska-Lincoln Software Engineering Teaching Assistant graphic",
                    title: "University of Nebraska-Lincoln",
                    description: "Software Engineering Teaching Assistant",
                    id: "2",
                    pageUrl: `${pageLink}unl-ta`,
                },
                {
                    imgUrl: `${imgLink}wallin_farms.png`,
                    alt: "Wallin Farms Logo",
                    title: "Wallin Farms",
                    description: "Farmhand & Accountant",
                    id: "3",
                    pageUrl: `${pageLink}wallin-farms`,
                },
                {
                    imgUrl: `${imgLink}initialize.png`,
                    alt: "Initialize UNL Logo White",
                    title: "Initialize",
                    description: "Curriculum Developer",
                    id: "4",
                    pageUrl: `${pageLink}initialize`,
                },
                {
                    imgUrl: `${imgLink}imperial_pool.png`,
                    alt: "Imperial Pool Logo",
                    title: "Imperial Pool",
                    description: "Lifeguard",
                    id: "5",
                    pageUrl: `${pageLink}imperial-pool`,
                },
            ],
        },
        {
            category: "Documents",
            cards: [
                {
                    imgUrl: `${imgLink}resume.png`,
                    alt: "Resume graphic",
                    title: "Resume",
                    description: "General Purpose",
                    id: "1",
                    pageUrl: `https://v1.kalenwallin.com/Documents/Resume.pdf`,
                },
                {
                    imgUrl: `${imgLink}ThesisCover.jpg`,
                    alt: "Honors Thesis Cover Graphic",
                    title: "Honors Thesis",
                    description: "University of Nebraska-Lincoln (UNL)",
                    id: "1",
                    pageUrl: `${pageLink}undergrad-honors-thesis`,
                },
                {
                    imgUrl: `${imgLink}unl_transcript.png`,
                    alt: "University of Nebraska-Lincoln transcript graphic",
                    title: "BA Computer Science",
                    description: "University of Nebraska-Lincoln (UNL)",
                    id: "2",
                    pageUrl: `https://v1.kalenwallin.com/Documents/unl_transcript.pdf`,
                },
                {
                    imgUrl: `${imgLink}ru_transcript.png`,
                    alt: "Reykjavík University graphic",
                    title: "Exchange Studies",
                    description: "Reykjavík University (RU)",
                    id: "3",
                    pageUrl: `https://v1.kalenwallin.com/Documents/ru_transcript.pdf`,
                },
                {
                    imgUrl: `${imgLink}cchs_transcript.png`,
                    alt: "CCHS Transcript graphic",
                    title: "High School",
                    description: "Chase County High School (CCHS)",
                    id: "4",
                    pageUrl: `https://v1.kalenwallin.com/Documents/cchstranscript.pdf`,
                },
            ],
        },
    ];

    return pages.map((page) => {
        let cards = page.cards;

        return {
            params: {
                category: page.category,
            },
            props: { cards },
        };
    });
}

const { category } = Astro.params;
const { cards } = Astro.props;
---

<style>
    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(min(200px, 100%), 1fr));
        gap: 1rem;
        padding: 1rem;
    }
    @media (min-width: 1440px) {
        .grid {
            grid-template-columns: repeat(
                auto-fill,
                minmax(min(250px, 100%), 1fr)
            );
        }
    }
</style>
<Base title={category}>
    <div class="modal-header">
        <h1>{category}</h1>
    </div>
    <div class="grid">
        {cards.map((card: any) => <Card article={card} />)}
    </div>
</Base>
