---
import Base from "../layouts/base.astro";

const about1 = `I am a computer programmer hailing from Imperial, Nebraska. 
                After graduating with honors and the highest distinction from 
                the University of Nebraska-Lincoln (UNL) in August 2023, 
                I earned my bachelor's degree in computer science and a minor in mathematics. 
                My radiant passion for programming fuels my professional choices and 
                guides my educational journey.`;

const about2 = `I fell in love with programming back in my elementary school days. 
                Prompted by my curiosity about video game creation and website development, 
                I dived into online courses on Codecademy. 
                This early interest in web and game development stayed with me through 
                junior high and high school, increasing in depth when I started studying at UNL. 
                My time here was marked by a profound exploration into the intricate aspects of 
                programming beyond the basics.`;

const about3 = `My skills in programming further sharpened thanks to my diverse experiences 
                in academic coursework, personal projects, and an internship at FarmAfield. 
                I've also gained invaluable experience in game development and graphic design 
                through my courses and extracurricular activities at different institutes like 
                UNL, Reykjavik University, and Chase County High School (CCHS). As a result, 
                I have created 6 websites, 4 video games, and a mobile app, among numerous other 
                demos and work projects.`;

const about4 = `Being an attentive, organized, and forward-thinking individual, 
                I consistently deliver top-notch results. My natural curiosity and discipline 
                keeps me motivated, encouraging steady progress and effectively preventing burnout. 
                My ability to work effectively in a team environment further enhances my potential 
                contribution to prospective collaborations.`;

const about5 = `Currently, I am open to any opportunities in the programming field. I am particularly 
                interested in navigating the terrain of Python or Javascript programming.`;

const suitImgSrcSet = `
https://i.kalenwallin.com/file/portfoliov2/sharex/suit200.jpg 200w,
https://i.kalenwallin.com/file/portfoliov2/sharex/suit461.jpg 461w,`;
---

<style>
    b,
    h2 {
        color: var(--blue-text);
    }
    :root.dark-theme b,
    :root.dark-theme h2 {
        color: var(--pink-text);
    }

    .about-column hr {
        margin-left: -1rem;
    }

    table {
        border-collapse: collapse;
        width: 100%;
        margin-left: -1rem;
    }

    th {
        padding: 15px 0px;
        vertical-align: top;
        border-bottom: 1px solid #ddd;
        margin-left: -1rem;
        color: var(--blue-text);
    }

    :root.dark-theme th {
        border-bottom: 1px solid #646464;
        color: var(--pink-text);
    }

    td {
        padding: 15px 0px;
        vertical-align: top;
    }

    @media (max-width: 767px) {
        .pcol {
            padding-left: 0rem;
            margin-left: 0rem;
        }
        picture {
            display: flex;
            justify-content: center;
        }
        picture img {
            max-height: 75vh;
            margin: auto;
        }
        .about-column hr,
        th,
        table {
            margin-left: 0rem;
        }
    }

    .pcol hr {
        margin-left: 0rem;
    }

    .about-column2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about-icons {
        padding-top: 1rem;
        max-width: 461px;
        width: 100%;
    }

    .about-icons img:hover {
        filter: brightness(0.8);
    }

    .card-left-about img {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }
</style>
<Base title="About">
    <header>
        <div class="modal-header">
            <h1>About Me</h1>
        </div>
    </header>

    <div class="about-row">
        <div class="about-column">
            <h2 class="about-p">Bibliography</h2>
            <hr />
            <p class="about-p">
                {about1}
            </p>
            <p class="about-p">
                {about2}
            </p>
            <p class="about-p">
                {about3}
            </p>
            <p class="about-p">
                {about4}
            </p>
            <p class="about-p">
                {about5}
            </p>
        </div>
        <div class="about-column2">
            <div class="card-left-about">
                <picture>
                    <img
                        sizes="(max-width: 461px) 100vw, 461px"
                        srcset={suitImgSrcSet}
                        alt="Photo of Kalen Wallin"
                        style=""
                    />
                </picture>
            </div>
        </div>
    </div>
    <div class="about-row">
        <div class="about-column" style="width:100%">
            <h2 class="about-p">Skills</h2>
            <hr />
            <p class="about-p">
                Here are the tools, frameworks, libraries, and coding languages
                I've has worked with, sorted by the proficiency in alphabetical
                order.
                <br />
                <table>
                    <tr>
                        <th>High Proficiency Skills</th>
                        <th>Medium Proficiency Skills</th>
                        <th>Low Proficiency Skills</th>
                    </tr>

                    <tr>
                        <td id="high-skills"></td>
                        <td id="medium-skills"></td>
                        <td id="low-skills"></td>
                    </tr>
                </table>
            </p>
        </div>
    </div>
    <br />
    <script>
        const highProficiencySkills = [
            "Adobe Express",
            "Astro",
            "CSS",
            "Django",
            "GitHub",
            "HTML",
            "JavaScript",
            "Microsoft Teams",
            "Notion",
            "Python",
            "Visual Studio/Code",
        ];
        const mediumProficiencySkills = [
            "Blazor",
            "C#",
            "CircleCI",
            "Figma",
            "GDScript",
            "Godot",
            "PythonAnywhere",
            "Unity",
            "Vercel",
        ];
        const lowProficiencySkills = [
            ".NET Core",
            "Amazon Web Services",
            "ANTLR",
            "C",
            "C++",
            "Dart",
            "Eclipse",
            "ExpressJS",
            "Flutter",
            "Google Cloud",
            "Haskell",
            "Java",
            "MySQL Workbench",
            "Netlify",
            "Next.js",
            "NodeJS",
            "Prolog",
            "SQL",
            "TypeScript",
            "XAML",
        ];

        const iconMapper = {
            "Adobe Express":
                '<img src="https://img.shields.io/badge/-Adobe%20Express-blue?logo=adobe&logoColor=white&style=flat">',
            Astro: '<img src="https://img.shields.io/badge/-Astro-orange?logo=astro&logoColor=white&style=flat">',
            CSS: '<img src="https://img.shields.io/badge/-CSS-blue?logo=css3&logoColor=white&style=flat">',
            Django: '<img src="https://img.shields.io/badge/-Django-green?logo=django&logoColor=white&style=flat">',
            GitHub: '<img src="https://img.shields.io/badge/-GitHub-black?logo=github&logoColor=white&style=flat">',
            HTML: '<img src="https://img.shields.io/badge/-HTML-red?logo=html5&logoColor=white&style=flat">',
            JavaScript:
                '<img src="https://img.shields.io/badge/-JavaScript-yellow?logo=javascript&logoColor=white&style=flat">',
            "Microsoft Teams":
                '<img src="https://img.shields.io/badge/-Microsoft%20Teams-purple?logo=microsoft-teams&logoColor=white&style=flat">',
            Notion: '<img src="https://img.shields.io/badge/-Notion-black?logo=notion&logoColor=white&style=flat">',
            Python: '<img src="https://img.shields.io/badge/-Python-blue?logo=python&logoColor=white&style=flat">',
            "Visual Studio/Code":
                '<img src="https://img.shields.io/badge/-Visual%20Studio-blue?logo=visual-studio&logoColor=white&style=flat">',
            Blazor: '<img src="https://img.shields.io/badge/-Blazor-purple?logo=blazor&logoColor=white&style=flat">',
            "C#": '<img src="https://img.shields.io/badge/-C%23-blue?logo=c-sharp&logoColor=white&style=flat">',
            CircleCI:
                '<img src="https://img.shields.io/badge/-CircleCI-blue?logo=circleci&logoColor=white&style=flat">',
            Figma: '<img src="https://img.shields.io/badge/-Figma-purple?logo=figma&logoColor=white&style=flat">',
            GDScript:
                '<img src="https://img.shields.io/badge/-GDScript-222222?logo=godot-engine&logoColor=white&style=flat">',
            Godot: '<img src="https://img.shields.io/badge/-Godot-black?logo=godot-engine&logoColor=white&style=flat">',
            PythonAnywhere:
                '<img src="https://img.shields.io/badge/-PythonAnywhere-yellow?logo=python&logoColor=white&style=flat">',
            Unity: '<img src="https://img.shields.io/badge/-Unity-black?logo=unity&logoColor=white&style=flat">',
            Vercel: '<img src="https://img.shields.io/badge/-Vercel-black?logo=vercel&logoColor=white&style=flat">',
            ".NET Core":
                '<img src="https://img.shields.io/badge/-.NET%20Core-blue?logo=.net&logoColor=white&style=flat">',
            "Amazon Web Services":
                '<img src="https://img.shields.io/badge/-Amazon%20Web%20Services-orange?logo=amazon-aws&logoColor=white&style=flat">',
            ANTLR: '<img src="https://img.shields.io/badge/-ANTLR-222222?logo=antlr&logoColor=white&style=flat">',
            C: '<img src="https://img.shields.io/badge/-C-blue?logo=c&logoColor=white&style=flat">',
            "C++": '<img src="https://img.shields.io/badge/-C++-blue?logo=c%2B%2B&logoColor=white&style=flat">',
            Dart: '<img src="https://img.shields.io/badge/-Dart-blue?logo=dart&logoColor=white&style=flat">',
            Eclipse:
                '<img src="https://img.shields.io/badge/-Eclipse-purple?logo=eclipse&logoColor=white&style=flat">',
            ExpressJS:
                '<img src="https://img.shields.io/badge/-ExpressJS-darkgreen?logo=express&logoColor=white&style=flat">',
            Flutter:
                '<img src="https://img.shields.io/badge/-Flutter-blue?logo=flutter&logoColor=white&style=flat">',
            "Google Cloud":
                '<img src="https://img.shields.io/badge/-Google%20Cloud-blue?logo=google-cloud&logoColor=white&style=flat">',
            Haskell:
                '<img src="https://img.shields.io/badge/-Haskell-violet?logo=haskell&logoColor=white&style=flat">',
            Java: '<img src="https://img.shields.io/badge/-Java-red?logo=java&logoColor=white&style=flat">',
            "MySQL Workbench":
                '<img src="https://img.shields.io/badge/-MySQL%20Workbench-blue?logo=mysql&logoColor=white&style=flat">',
            Netlify:
                '<img src="https://img.shields.io/badge/-Netlify-blue?logo=netlify&logoColor=white&style=flat">',
            "Next.js":
                '<img src="https://img.shields.io/badge/-Next.js-black?logo=next.js&logoColor=white&style=flat">',
            NodeJS: '<img src="https://img.shields.io/badge/-NodeJS-green?logo=node.js&logoColor=white&style=flat">',
            Prolog: '<img src="https://img.shields.io/badge/-Prolog-222222?logo=probot&logoColor=white&style=flat">',
            SQL: '<img src="https://img.shields.io/badge/-SQL-336791?logo=mysql&logoColor=white&style=flat">',
            TypeScript:
                '<img src="https://img.shields.io/badge/-TypeScript-blue?logo=typescript&logoColor=white&style=flat">',
            XAML: '<img src="https://img.shields.io/badge/-XAML-blue?logo=xaml&logoColor=white&style=flat">',
        };
        function generateSkillsList(skills: any[]) {
            return skills
                .map((skill) => `<p class="skills">${iconMapper[skill]}</p>`)
                .join("");
        }

        document.addEventListener("DOMContentLoaded", () => {
            const highProficiency = document.getElementById("high-skills");
            const mediumProficiency = document.getElementById("medium-skills");
            const lowProficiency = document.getElementById("low-skills");

            if (highProficiency) {
                highProficiency.innerHTML = generateSkillsList(
                    highProficiencySkills
                );
            }

            if (mediumProficiency) {
                mediumProficiency.innerHTML = generateSkillsList(
                    mediumProficiencySkills
                );
            }

            if (lowProficiency) {
                lowProficiency.innerHTML =
                    generateSkillsList(lowProficiencySkills);
            }
        });
    </script>
</Base>
