---
import Base from "../layouts/base.astro";
const about1 = `Kalen Wallin, a fourth-year honors student at the University of Nebraska-Lincoln (UNL),
            is passionately pursuing his degree in computer science. During his academic journey,
            he had the unique opportunity to study abroad at Reykjavik University (RU) in Iceland for a semester.`;

const about2 = `Kalen’s enthusiasm for web development took root in elementary school when he completed
            an online HTML and CSS course at Codecademy. It was during his time at UNL, however, that he
            delved deeper into the complexities of programming languages beyond the basics.`;

const about3 = `Through a combination of academic coursework, personal projects, and an internship at
            FarmAfield—an online marketplace for ownership investments—Kalen honed his skills in web development,
            utilizing the Django tech stack. Additionally, he gained experience in game development and graphic
            design through courses and extracurricular activities at UNL, RU, and Chase County Schools (CCS).
            His game development journey began with “Fappy Borbs” in high school, continued with “Minieval”
            during his undergraduate studies, and now includes collaboration with Mystic Rhoads Productions on his third project, “baldorf.”`;

const about4 = `An attentive, organized, and forward-thinking individual, Kalen consistently delivers results.
            His ability to work effectively in teams ensures that all members contribute meaningfully, fostering steady progress.
            Hailing from a family of farmers, he has learned the value of initiative and determination.`;

const about5 = `As he prepares to graduate from UNL in August 2023, Kalen actively seeks a full-stack web developer position.`;
---

<Base title="About">
    <header>
        <div class="modal-header">
            <h1>About Kalen</h1>
        </div>
    </header>

    <div class="about-row">
        <div class="about-column">
            <p><b class="about-p">Bibliography</b></p>
            <p class="about-p">
                {about1}
            </p>
            <p class="about-p">
                {about2}
            </p>
            <p class="about-p">
                {about3}
            </p>
            <p class="about-p">
                {about4}
            </p>
            <p class="about-p">
                {about5}
            </p>
        </div>
        <div class="about-column2">
            <div class="card-left-about">
                <picture>
                    <img
                        sizes="(max-width: 1400px) 100vw, 1400px"
                        srcset="
https://i.kalenwallin.com/file/portfoliov2/sharex/suit200.jpg 200w,
https://i.kalenwallin.com/file/portfoliov2/sharex/suit461.jpg 461w,
https://i.kalenwallin.com/file/portfoliov2/sharex/suit612.jpg 612w,
https://i.kalenwallin.com/file/portfoliov2/sharex/suit749.jpg 749w,
https://i.kalenwallin.com/file/portfoliov2/sharex/suit848.jpg 848w,
https://i.kalenwallin.com/file/portfoliov2/sharex/suit993.jpg 993w,
https://i.kalenwallin.com/file/portfoliov2/sharex/suit1087.jpg 1087w,
https://i.kalenwallin.com/file/portfoliov2/sharex/suit1086.jpg 1086w,
https://i.kalenwallin.com/file/portfoliov2/sharex/suit1250.jpg 1250w,
https://i.kalenwallin.com/file/portfoliov2/sharex/suit1351.jpg 1351w,
https://i.kalenwallin.com/file/portfoliov2/sharex/suit1375.jpg 1375w,
https://i.kalenwallin.com/file/portfoliov2/sharex/suit1400.jpg 1400w"
                        src="https://i.kalenwallin.com/file/portfoliov2/sharex/suit1400.jpg"
                        alt="Photo of Kalen Wallin"
                        style="width:100%"
                    />
                </picture>
            </div>
            <br />
            <div class="about-icons">
                <div class="light">
                    <a href="mailto:kalenwallin1@gmail.com" target="_blank"
                        ><img
                            src="https://raw.githubusercontent.com/kalenwallin/portfolio.v1/gpages/img/mail.svg"
                            alt="Mail Icon"
                            height="31"
                        /></a
                    >
                    <a
                        href="https://www.linkedin.com/in/kalenwallin/"
                        target="_blank"
                        ><img
                            src="https://raw.githubusercontent.com/kalenwallin/portfolio.v1/gpages/img/linkedin.svg"
                            alt="LinkedIn Icon"
                            height="31"
                        /></a
                    >
                    <a href="https://github.com/kalenwallin" target="_blank"
                        ><img
                            src="https://raw.githubusercontent.com/kalenwallin/portfolio.v1/gpages/img/github.svg"
                            alt="GitHub Icon"
                            height="31"
                        /></a
                    >
                </div>
                <div class="dark">
                    <a href="mailto:kalenwallin1@gmail.com" target="_blank"
                        ><img
                            src="https://raw.githubusercontent.com/kalenwallin/portfolio.v1/gpages/img/mail_dark.svg"
                            alt="Mail Icon"
                            height="31"
                        /></a
                    >
                    <a
                        href="https://www.linkedin.com/in/kalenwallin/"
                        target="_blank"
                        ><img
                            src="https://raw.githubusercontent.com/kalenwallin/portfolio.v1/gpages/img/linkedin_dark.svg"
                            alt="LinkedIn Icon"
                            height="31"
                        /></a
                    >
                    <a href="https://github.com/kalenwallin" target="_blank"
                        ><img
                            src="https://raw.githubusercontent.com/kalenwallin/portfolio.v1/gpages/img/github_dark.svg"
                            alt="GitHub Icon"
                            height="31"
                        /></a
                    >
                </div>
            </div>
        </div>
    </div>
    <div class="about-row">
        <div class="about-column" style="width:100%">
            <p><b class="about-p">Skills</b></p>
            <p class="about-p">
                Here are the tools, frameworks, libraries, and coding languages
                Kalen has worked with, sorted by the time he last worked with
                them.
                <br />
                <div class="column pcol">
                    <b>Past Year</b>
                    <hr />
                    <div id="recent-skills"></div>
                </div>
                <div class="column pcol">
                    <b>1-2 Years Ago</b>
                    <hr />
                    <div id="whileago-skills"></div>
                </div>
                <div class="column pcol">
                    <b>3+ Years Ago</b>
                    <hr />
                    <div id="longtimeago-skills"></div>
                </div>
            </p>
        </div>
    </div>
    <br />
    <script>
        const imgLink =
            "https://raw.githubusercontent.com/kalenwallin/portfolio.v1/gpages/img/";

        const recent = [
            "Amazon Web Services",
            "Astro",
            "Blazor",
            "C#",
            "Django",
            "Figma",
            "GitHub",
            "HTML & CSS",
            "JavaScript",
            "Microsoft Teams/Office",
            "Netlify",
            "NodeJS",
            "Notion",
            "Python",
            "Unity",
            "Vercel",
            "Visual Studio",
            "VS Code",
        ];
        const whileAgo = [
            "C",
            "C++",
            "CircleCI",
            "ExpressJS",
            "GDScript",
            "Godot",
            "PythonAnywhere",
        ];
        const longtimeago = [
            "ANTLR",
            "ASP.NET Core",
            "Dart",
            "Eclipse",
            "Flutter",
            "Haskell",
            "Java",
            "MySQL Workbench",
            "Prolog",
            "SQL",
            "Xamarin",
        ];

        function generateSkillsList(skills: any[]) {
            return skills
                .map((skill) => `<p class="skills">${skill}</p>`)
                .join("");
        }

        document.addEventListener("DOMContentLoaded", () => {
            const recentSkillsList = document.getElementById("recent-skills");
            const whileAgoSkillsList =
                document.getElementById("whileago-skills");
            const longtimeagoSkillsList =
                document.getElementById("longtimeago-skills");

            if (recentSkillsList) {
                recentSkillsList.innerHTML = generateSkillsList(recent);
            }

            if (whileAgoSkillsList) {
                whileAgoSkillsList.innerHTML = generateSkillsList(whileAgo);
            }

            if (longtimeagoSkillsList) {
                longtimeagoSkillsList.innerHTML =
                    generateSkillsList(longtimeago);
            }
        });
    </script>
</Base>
