---
interface Props {
    article?: any;
}
const { article } = Astro.props;
const cardID = `card-${article.id}`;
---

<div id={cardID} class="card">
    <div class="img-container">
        <img src={article.imgUrl} alt={article.alt} />
    </div>
    <div class="container">
        <h4><b>{article.title}</b></h4>
        <p>{article.description}</p>
        <p style="font-size: 12px">{article.date}</p>
    </div>
</div>

<div id={article.id} class="modal">
    <div class="modal-content notion animate">
        <div class="happy_container">
            <iframe
                loading="lazy"
                src={article.pageUrl}
                style="width: 100%; height: 95%;"></iframe>
            <button class="btn-block" type="button">Close</button>
        </div>
    </div>
</div>

<script>
    const cards = document.querySelectorAll<HTMLElement>(".card");
    const modals = document.querySelectorAll<HTMLElement>(".modal");
    cards.forEach((card, i) => {
        card.addEventListener("click", () => {
            modals[i].style.display = "block";
        });
        modals[i].addEventListener("click", () => {
            modals[i].style.display = "none";
        });
    });
</script>
