---
interface Props {
    article?: any;
}
const { article } = Astro.props;
const cardID = `card-${article.id}`;
---

<article id="article-id" data-article={article.id}></article>
<div id={cardID} class="card">
    <div class="img-container">
        <img src={article.imgUrl} alt={article.alt} />
    </div>
    <div class="container">
        <h4><b>{article.title}</b></h4>
        <p>{article.description}</p>
    </div>
</div>

<div id={article.id} class="modal">
    <div class="modal-content notion animate">
        <div class="fappy_container">
            <iframe
                loading="lazy"
                src={article.pageUrl}
                style="width: 100%; height: 95%;"></iframe>
            <button class="btn-block" type="button">Done</button>
        </div>
    </div>
</div>

<script>
    // Get the id of the article from props
    // const idElement = document.getElementById("article-id");
    // const id = idElement?.dataset.article!;
    // console.log(id);
    // const modal = document.getElementById(id);
    // console.log(modal);
    // const card = document.getElementById("card-" + id);
    // console.log(card);
    // if (modal && card) {
    //     modal.style.display = "none";
    //     modal.addEventListener("click", () => {
    //         modal.style.display = "none";
    //     });
    //     card.addEventListener("click", () => {
    //         modal.style.display = "block";
    //     });
    // }

    const cards = document.querySelectorAll(".card");
    const modals = document.querySelectorAll(".modal");
    cards.forEach((card, i) => {
        card.addEventListener("click", () => {
            modals[i].style.display = "block";
        });
        modals[i].addEventListener("click", () => {
            modals[i].style.display = "none";
        });
    });
</script>
